{% extends 'base.html.twig' %}

{% block title %}Edit AC{% endblock %}

{% block body %}
    <h1>Edit AC</h1>

    {{ include('ac/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_a_c_index') }}">back to list</a>

    {{ include('ac/_delete_form.html.twig') }}
{% endblock %}
