{% extends 'base.html.twig' %}

{% block title %}New AC{% endblock %}

{% block body %}
    <h1>Create new AC</h1>

    {{ include('ac/_form.html.twig') }}

    <a href="{{ path('app_a_c_index') }}">back to list</a>
{% endblock %}
