{% extends 'base.html.twig' %}

{% block title %}Editer la Classe
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column justify-content-center align-items-center border">
		<h1>Editer la Classe</h1>
		{{ include('classe/_form.html.twig', {'button_label': 'Update'}) }}
		<a name="" id="" class="btn btn-secondary" href="{{ path('app_classe_index') }}" role="button">retour au liste</a>
		{{  include('classe/_delete_form.html.twig') }}
	</div>
{% endblock %}
