{% extends 'base.html.twig' %}

{% block title %}Nouvelle Classe
{% endblock %}

{% block body %}
	<div class="container  d-flex flex-column justify-content-center align-items-center border">

		<h1> Ajouter une Classe</h1>

		{{ include('classe/_form.html.twig') }}

		<a name="" id="" class="btn btn-secondary" href="{{ path('app_classe_index') }}" role="button">Retour la Liste</a>

	</div>
{% endblock %}
