{% extends 'base.html.twig' %}

{% block title %}Nouveau Professeur
{% endblock %}

{% block body %}
	<div class="container  d-flex flex-column justify-content-center align-items-center border">

		<h1>Ajouter un Professeur</h1>

		{{ include('professeur/_form.html.twig') }}
		<a name="" id="" class="btn btn-secondary" href="{{ path('app_professeur_index') }}" role="button">Retour la Liste</a>
	</div>

{% endblock %}
