{% extends 'base.html.twig' %}

{% block title %}Réinscrire un étudiant{% endblock %}

{% block body %}
    <h1>Réinscrire un étudiant</h1>

    {{ include('inscription/_form.html.twig', {'button_label': 'Update'}) }}
<a name="" id="" class="btn btn-primary" href="{{ path('app_inscription_index') }}" role="button">Retour à la liste</a>


    {# {{ include('inscription/_delete_form.html.twig') }} #}
{% endblock %}
