{% extends 'base.html.twig' %}

{% block title %}Nouveau Etudiant
{% endblock %}

{% block body %}
	<div class="container  d-flex flex-column justify-content-center align-items-center border">

		<h1>Ajouter un Etudiant</h1>
		<div class="container  border">
			{{ include('etudiant/_form.html.twig') }}
		</div>
			<a name="" id="" class="btn btn-secondary mt-3 " href="{{ path('app_etudiant_index') }}" role="button">Retour à la Liste</a>
	</div>
{% endblock %}
